a{
	color:red;
	font-size:18px;
}
#aaa{
	color:#494949;
	background-color:#797979;
	border:4px solid #494949;
}
#one{
	 color:green;
 }
#two{
	 color:#B041FF;
	 font-size:20px;
 }
.human{
	color:#4C8BF4;
}
.animals{
	color:#FFCD43;
}
